@using Monitor.Models;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " 性能监视器统计图";
    var computerList = ViewBag.ComputerInfoList as List<ClusterComputerInfo>;
    var defaultComputer = computerList.FirstOrDefault();
}

@section scriptSrc{
    <script src="http://cdn.bootcss.com/echarts/3.3.2/echarts.common.js"></script>
}
@section script{
    <script>

        $(function () {

            var cpuChart = echarts.init(document.getElementById('cpuContainer'));
            var iisChart = echarts.init(document.getElementById('iisContainer'));
            var memoryChart = echarts.init(document.getElementById('memoryContainer'));

            var vue = new Vue({
                el: '#app',
                data: {
                    machineIp: '@(defaultComputer!=null ? defaultComputer.MachineIp : string.Empty)',
                    apiGetChartDataUrl: '@Url.Action("GetSnapshotCharts","PerformanceCounter")',
                    dataList: []
                },
                ready: function () {
                    this.clickSearchCharts(this.machineIp);
                },
                methods: {
                    clickSearchCharts: function (ip) {
                        var vm = this;
                        this.initChartOption();
                        if (vm.machineIp.length > 0) {
                            setInterval(function () { vm.getChartData() }, 1000);
                        }
                    },
                    
                    initChartOption: function () {

                        // 显示标题，图例和空的坐标轴
                        cpuChart.setOption({
                            tooltip: {
                                trigger: 'axis'
                            },
                            title: {
                                left: 'center',
                                text: 'CPU使用率',
                                subtext: 'CPU【max】值统计图,采集单位【秒】'
                            },
                            xAxis: {
                                name: '秒',
                                type: 'category',
                                boundaryGap: false,
                                data: []
                            },
                            yAxis: {
                                type: 'value',
                                max: 100,
                                splitLine: {
                                    show: false
                                }
                            },
                            series: [{
                                // 根据名字对应到相应的系列
                                name: 'CPU使用率',
                                smooth: true,
                                symbol: 'none',
                                itemStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                lineStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: "#39B7CE",
                                        opacity: 0.8
                                    }
                                },
                                type: 'line',
                                data: []
                            }]
                        });
                        iisChart.setOption({
                            tooltip: {
                                trigger: 'axis'
                            },
                            title: {
                                left: 'center',
                                text: 'IIS请求数',
                                subtext: 'IIS请求数【max】值统计图,采集单位【秒】'
                            },
                            xAxis: {
                                name: '秒',
                                type: 'category',
                                boundaryGap: false,
                                data: []
                            },
                            yAxis: {
                                
                            },
                            series: [{
                                // 根据名字对应到相应的系列
                                name: 'IIS请求数',
                                smooth: true,
                                symbol: 'none',
                                itemStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                lineStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: "#39B7CE",
                                        opacity: 0.8
                                    }
                                },
                                type: 'line',
                                data: []
                            }]
                        });
                        memoryChart.setOption({
                            tooltip: {
                                trigger: 'axis'
                            },
                            title: {
                                left: 'center',
                                text: '内存使用',
                                subtext: '内存【max】值统计图,采集单位【秒】'
                            },
                            xAxis: {
                                name: '秒',
                                type: 'category',
                                boundaryGap: false,
                                data: []
                            },
                            yAxis: {

                            },
                            series: [{
                                // 根据名字对应到相应的系列
                                name: '内存使用',
                                smooth: true,
                                symbol: 'none',
                                itemStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                lineStyle: {
                                    normal: {
                                        color: "#39B7CE"
                                    }
                                },
                                areaStyle: {
                                    normal: {
                                        color: "#39B7CE",
                                        opacity: 0.8
                                    }
                                },
                                type: 'line',
                                data: []
                            }]
                        });
                    },
                    getChartData: function () {
                        var vm = this;
                        $.get(vm.apiGetChartDataUrl, { ip: vm.machineIp}, function (response) {
                            var x = [];
                            var cpu = [], iis = [], memory = [];

                            $.each(response, function (index, d) {
                                x.push(d.time);
                                cpu.push(d.cpu);
                                iis.push(d.iis);
                                memory.push(d.memory);
                            })

                            // 填入数据
                            cpuChart.setOption({
                                xAxis: {
                                    data: x
                                },
                                series: [{
                                    data: cpu
                                }]
                            });
                            iisChart.setOption({
                                xAxis: {
                                    data: x
                                },
                                series: [{
                                    data: iis
                                }]
                            });
                            memoryChart.setOption({
                                xAxis: {
                                    data: x
                                },
                                series: [{
                                    data: memory
                                }]
                            });
                        });
                    }
                }
            });
        });
    </script>
}
<div class="container-fluid">
    <div class="info-center">
        <div class="page-header">
            <div class="pull-left">
                <h4>列表信息</h4>
            </div>
        </div>
        <div class="search-box row">
            <div class="col-md-12">
                <div class="form-group">
                    <span class="pull-left form-span">请选择监控IP:</span>
                    <select class="pull-left form-control" v-model="machineIp">
                        <option value="">-请选择服务器IP-</option>
                        
                        @foreach (var item in computerList)
                        {
                            <option value="@item.MachineIp">@item.MachineIp</option>
                        }
                    </select>
                </div>
                <div class="form-group btn-search">
                    <button class="btn btn-primary" v-on:click="clickSearchCharts()"><span class="glyphicon glyphicon-search"></span> 搜索</button>
                </div>
            </div>
            
        </div>
        <div class="clearfix"></div>
        <div class="table-margin">
                
                    <div id="cpuContainer" style="height:400px;"></div>
                    <div id="iisContainer"  style="height:400px;"></div>
                    <div id="memoryContainer" style="height:400px;"></div>
              
            </div>
        </div>
</div>