@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " 服务器列表";
}
@section script{
    <script type="text/javascript">
    $(function () {
        var vue = new Vue({
            el: '#app',
            data: {
                total: 0,
                pageSize:10,
                pageOptions: {
                    currentPage: 1,
                    bootstrapMajorVersion: 1,
                    totalPages: 1,
                    alignment: "right",
                    onPageClicked: function (e, originalEvent, type, page) {
                        vue.pageOptions.currentPage = page;
                        vue.getList();
                    }
                },
                apiGetListUrl: '@Url.Action("GetComputerList","Cluster")',
                apiDeleteUrl: '@Url.Action("DeleteComputer","Cluster")',
                dataList: []
            },
            ready: function () {
                this.getList();
            },
            methods: {
                computerDelete: function (id) {
                    var vm = this;
                    app.confirm("确认删除吗", function (result) {
                        if (result) {
                            $.ajax({
                                url: vm.apiDeleteUrl,
                                type: 'get',
                                dataType: 'json',
                                data: { id: id },
                                success: function (response) {
                                    if (response.s === 10006) {
                                        vm.getList();
                                    }
                                }
                            })
                        }
                    });
                },
                getList: function () {
                    var vm = this;
                    $.ajax({
                        url: vm.apiGetListUrl,
                        beforeSend: function () {
                            loading();
                        },
                        type: 'get',
                        dataType: 'json',
                        data: {
                            pageIndex: vm.pageOptions.currentPage,
                            pageSize:vm.pageSize,
                            watchTime: vm.watchTime,
                            url:vm.url,
                            startDate: vm.startDate,
                            endDate: vm.endDate
                        },
                        success: function (response) {
                            if (response.s === 10006) {
                                vm.dataList = response.data;
                                vm.total = response.count;
                                if (vm.total > vm.pageSize) {
                                    vm.pageOptions.totalPages = getTotalPage(response.count, response.pgSize);
                                    $('.pagination').bootstrapPaginator(vm.pageOptions);
                                } else {
                                    $('.pagination').html('');
                                }
                            }

                        },
                        complete: function () {
                            loading(false);
                        }
                    })
                }
            }
        });
    });
    </script>
}
@section scriptSrc{
    <script src="~/Statics/js/bootstrap-paginator.js"></script>
    <script src="~/Statics/js/My97DatePicker/WdatePicker.js"></script>
}
<div class="container-fluid">
    <div class="info-center">
        <div class="page-header">
            <div class="pull-left">
                <h4>列表信息</h4>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-margin table-responsive">
            <table class="table table-bordered table-header table-hover">
                <thead>
                    <tr>
                        <th>
                            服务器名称
                        </th>
                        <th>
                            服务器IP
                        </th>
                        <th>
                            CPU名称
                        </th>
                        <th>
                            CPU个数
                        </th>
                        <th>
                            内存大小
                        </th>
                        <th>
                            系统名称
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dataList">
                        <td>
                            {{item.machineName}}
                        </td>
                        <td>
                            {{item.machineIp}}
                        </td>
                        <td>
                            {{item.cpuName}}
                        </td>
                        <td>
                            {{item.cpuCount}}
                        </td>
                        <td>
                            {{item.totalVisibleMemorySize}}
                        </td>
                        <td>
                            {{item.osName}}
                        </td>
                        <td>
                            <button type="button" v-on:click="computerDelete(item.id)" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>删除</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot v-show="total>pageSize">
                    <tr>
                        <td colspan="7">
                            <div class="pull-right">
                                <nav>
                                    <div class="pagination pagination-right"></div>
                                </nav>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
</div>
</div>