@using Monitor.Models;
@model Webdiyer.WebControls.Mvc.PagedList<ClusterHttpWatch>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " 请求耗时列表";
}
@section script{
    <script>
    $(function () {
        var vue = new Vue({
            el: '#app',
            data: {
                pageOptions: {
                    currentPage: 1,
                    totalPages: 1,
                    alignment: "right",
                    onPageClicked: function (e, originalEvent, type, page) {
                        vue.pageOptions.currentPage = page;
                        vue.getList();
                    }
                },
                url: '',
                startDate: '',
                endDate:'',
                apiGetListUrl: '@Url.Content("~/")api/GetHttpWatchReportList',
                dataList: []
            },
            ready: function () {
                this.getList();
            },
            methods: {
                clickSearchHttpWatch: function () {
                    this.pageOptions.currentPage = 1;
                    this.getList();
                },
                getList: function () {
                    var vm = this;
                    $.ajax({
                        url: vm.apiGetListUrl,
                        beforeSend: function () {
                            loading();
                        },
                        type: 'get',
                        dataType: 'json',
                        data: {
                            pageIndex: vm.pageOptions.currentPage,
                            url:vm.url,
                            startDate: vm.startDate,
                            endDate: vm.endDate
                        },
                        success: function (response) {
                            if (response.s === 10006) {
                                vm.dataList = response.data;
                                if (response.count > response.pgSize) {
                                    vm.pageOptions.totalPages = getTotalPage(response.count, response.pgSize);
                                    $('.pagination').bootstrapPaginator(vm.pageOptions);
                                } else {
                                    $('.pagination').html('');
                                }
                            }

                        },
                        complete: function () {
                            loading(false);
                        }
                    })
                }
            }
        });
    });
    </script>
}
@section scriptSrc{
    <script src="~/Statics/js/bootstrap-paginator.js"></script>
    <script src="~/Statics/js/My97DatePicker/WdatePicker.js"></script>
}
<ul class="breadcrumb">
    <li>
        <a href="/">监控中心</a> <span class="divider">/</span>
    </li>
    <li class="active">
       请求耗时列表
    </li>
</ul>
<div class="container">
    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action="javascript:void(0)">
                <div class="control-group">
                    <label class="control-label">请选择监控日期：</label>
                    <div class="controls">
                        <input class="input-medium" v-model="startDate" placeholder="开始日期" type="text" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />至
                        <input class="input-medium" v-model="endDate" placeholder="结束日期" type="text" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">请求URL：</label>
                    <div class="controls">
                        <input class="span6" type="text" v-model="url" placeholder="请输入URL或者关键字" />
                    </div>
                </div>
                <div class="control-group">
                   
                    <div class="controls">
                        <button type="button" v-on:click="clickSearchHttpWatch()" class="btn btn-primary">查找</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                URL
            </th>
            <th>
                平均时间/毫秒
            </th>
            <th>
                最大时间/毫秒
            </th>
            <th>
                最小时间/毫秒
            </th>
            <th>
                调用次数
            </th>
        </tr>
    </thead>
    <tbody>
        
            <tr v-for="item in dataList">
                <td>
                    {{item.url}}
                </td>
                <td>
                    {{item.avgTime}}
                </td>
                <td>
                    {{item.maxTime}}
                </td>
                <td>
                    {{item.minTime}}
                </td>
                <td>
                    {{item.callCount}}
                </td>
            </tr>
        
    </tbody>
</table>
<div class="pagination pagination-right"></div>

