@using Monitor.Models;
@model Webdiyer.WebControls.Mvc.PagedList<ClusterHttpWatch>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = " 请求耗时列表";
}
@section script{
    <script>
    $(function () {
        var vue = new Vue({
            el: '#app',
            data: {
                total: 0,
                pageSize: 10,
                pageOptions: {
                    currentPage: 1,
                    bootstrapMajorVersion:1,
                    totalPages: 1,
                    alignment: "right",
                    onPageClicked: function (e, originalEvent, type, page) {
                        vue.pageOptions.currentPage = page;
                        vue.getList();
                    }
                },
                watchTime:'',
                url: '',
                startDate: '',
                endDate:'',
                apiGetListUrl: '@Url.Content("~/")api/GetHttpWatchList',
                dataList: []
            },
            ready: function () {
                this.getList();
            },
            methods: {
                clickSearchHttpWatch: function () {
                    this.pageOptions.currentPage = 1;
                    this.getList();
                },
                getList: function () {
                    var vm = this;
                    $.ajax({
                        url: vm.apiGetListUrl,
                        beforeSend: function () {
                            loading();
                        },
                        type: 'get',
                        dataType: 'json',
                        data: {
                            pageIndex: vm.pageOptions.currentPage,
                            pageSize:vm.pageSize,
                            watchTime: vm.watchTime,
                            url:vm.url,
                            startDate: vm.startDate,
                            endDate: vm.endDate
                        },
                        success: function (response) {
                            if (response.s === 10006) {
                                vm.dataList = response.data;
                                vm.total = response.count;
                                if (vm.total > vm.pageSize) {
                                    vm.pageOptions.totalPages = getTotalPage(response.count, response.pgSize);
                                    $('.pagination').bootstrapPaginator(vm.pageOptions);
                                } else {
                                    $('.pagination').html('');
                                }
                            }

                        },
                        complete: function () {
                            loading(false);
                        }
                    })
                }
            }
        });
    });
    </script>
}
@section scriptSrc{
    <script src="~/Statics/js/bootstrap-paginator.js"></script>
    <script src="~/Statics/js/My97DatePicker/WdatePicker.js"></script>
}
<div class="container-fluid">
    <div class="info-center">
        <div class="page-header">
            <div class="pull-left">
                <h4>列表信息</h4>
            </div>
        </div>
        <div class="search-box row">
            <div class="col-md-12">
                <div class="form-group">
                    <span class="pull-left form-span">请选择监控日期:</span>
                    <input class="form-control input-medium" v-model="startDate" placeholder="开始日期" type="text" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
                </div>
                <div class="form-group">
                    <input class="form-control input-medium" v-model="endDate" placeholder="结束日期" type="text" onClick="WdatePicker({ dateFmt: 'yyyy-MM-dd HH:mm' })" />
                </div>
                <div class="form-group">
                    <input class="form-control" style="width:250px;" type="text" v-model="url" placeholder="URL或者关键字" />
                </div>
                <div class="form-group">
                     <input class="form-control" type="number" v-model="watchTime"  placeholder="耗时/毫秒" />
                </div>
                <div class="form-group btn-search">
                    <button class="btn btn-primary" v-on:click="clickSearchHttpWatch()"><span class="glyphicon glyphicon-search"></span> 搜索</button>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="table-margin">
            <table class="table table-bordered table-header">
                <thead>
                    <tr>
                        <th>
                            请求IP
                        </th>
                        <th>
                            耗时/毫秒
                        </th>
                        <th>
                            请求时间
                        </th>
                        <th>
                            请求地址
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in dataList">
                        <td>
                            {{item.ip}}
                        </td>
                        <td>
                            {{item.timevalue}}
                        </td>
                        <td>
                            {{item.createDate}}
                        </td>
                        <td>
                            {{item.referer}}
                        </td>
                    </tr>
                </tbody>
                <tfoot v-show="total>pageSize">
                    <tr>
                        <td colspan="4">
                            <div class="pull-right">
                                <nav>
                                    <div class="pagination pagination-right"></div>
                                </nav>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
</div>
</div>