@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]--><!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]--><!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]--><!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]--><!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>登录 - 监控中心</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Statics/css/site.css" rel="stylesheet">
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>
<body>
    <div id="login-page" class="container">
            <form class="well" role="form">
                <h2>登录</h2>
                <div class="control-group">
                    <input type="email" class="form-control" placeholder="请输入账号" required autofocus>
                </div><div class="control-group">
                    <input type="password" class="form-control" placeholder="请输入密码" required>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> 记住我
                    </label>
                </div>
                <button class="btn" type="submit">登 录</button>
            </form>
    </div>
    <script src="~/Statics/js/jquery.min.js"></script>
    <script src="~/Statics/js/bootstrap.min.js"></script>
    <script src="~/Statics/js/site.js"></script>
</body>
</html>
